body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
.P1{
    color: white;
    text-align: center;
}
.disc{
    color: white;
    font-size: 10px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.container > div{
    text-align: center;
}
.pic{
    border: #B3BC76 solid;
    justify-content: space-around;
    width: 210px;
    border-radius: 10%;
    height: 232px;

}
div.pic:hover{
    border-radius: 15%;
    border: #8DC020 5px solid;
}
form{
    margin-top: -708px;
    margin-left: 111px;
    font-size: 30px;
    background-color: black;
    position: absolute;
    padding: 36px;
    border-radius: 18px;
    height: 215px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
